<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
   
    <servlet-name>AccountProfile</servlet-name>
    <servlet-class>AccountProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountProfile</servlet-name>
    <url-pattern>/AccountProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    
    <servlet-name>AccountDashboard</servlet-name>
    <servlet-class>AccountDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDashboard</servlet-name>
    <url-pattern>/AccountDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
   
    <servlet-name>InfoPage</servlet-name>
    <servlet-class>InfoPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoPage</servlet-name>
    <url-pattern>/InfoPage</url-pattern>
  </servlet-mapping>
  <servlet>
   
    <servlet-name>LoginFilter</servlet-name>
    <servlet-class>LoginFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFilter</servlet-name>
    <url-pattern>/LoginFilter</url-pattern>
  </servlet-mapping>
</web-app>